@charset "UTF-8";

/*Typical device breakpoints
Pequenas telas: até 600px
celular: 600px até 768px
tablet: 768px até 992px
desktop: 992px até 1200px
Grandes telas: acima de 1200px
/*Todas as demais mídias*/

@media print {
    body{
        background-image: url(../imagens/back-print.jpg); /*desnecessário*/
    }
    img#phone{display: none;}
    img#print{display: block;}
}
/*
@media screen and (max-width= 600px) {
    
 }
@media screen and (min-width= 600px) and (max-width=768px) {
    
}
*/

@media screen and (min-width: 768px) and (max-width:992px) { /*tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
        img#phone{
            display: none;
        }
        img#tablet{
            display: block;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{display: none;}
    img#pc{display: block;}   
}

@media screen and (min-width: 1200px) { /*telas grandes*/ 
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{display: none;}
    img#tv{display: block;}
}